# Frontend
VITE_API_URL=http://localhost:8000
VITE_WS_URL=ws://localhost:8000/ws/chat

# Backend
DEEPSEEK_API_KEY=<enter key here>
DEEPSEEK_API_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_API_MODEL=deepseek-chat
ALLOWED_ORIGINS=http://localhost:5173
DEFAULT_TEMPERATURE=0.7