# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Ignore chat files but keep the directory structure
/backend/user-data/chats/*
!/backend/user-data/chats/.gitkeep

# Production
/dist
/build
dist-ssr

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/backend/**/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
.DS_Store

# TypeScript
*.tsbuildinfo