body {
    margin: 0;
    padding: 0;
  }
  
  .h-screen {
    height: 100vh;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .gap-2 {
    gap: 0.5rem;
  }